src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dc917ac3-79bc-451f-9835-500bcba2ea8d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="c41b2715-ed2f-4b6a-a872-7e3982e33609" >
		<http:listener doc:name="Listener" doc:id="957a8e67-f736-4c55-805a-9872322296d3" config-ref="HTTP_Listener_config" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="9b9dc5ea-0612-494f-a87f-40a7660533bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json	
---
{
	"message" : "Hello World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="24d97542-b9c9-44b1-9a4c-669a378771dd" />
		<logger level="INFO" doc:name="Logger" doc:id="d5c28d1f-ad4a-4256-9d59-9ea286b08aff" message="#[payload]"/>
	</flow>
</mule>
